* {
  margin: 0;
  padding: 0;
}
img {
  width: 100%;
}

button {
  border: none;
  outline: none;
  &:focus {
    outline: none;
  }
  &:hover {
    cursor: pointer;
  }
}

input {
  width: 100%;
  height: 2rem;
  padding-left: 0.5rem;
  border: none;
  border-left:1px solid #a0a2a1 ;
  font-size: 1rem;
  &:focus {
    outline: none;
  }
}
/*----color of the back----*/
$mainblue : #2aabf1;
$main-backgroud : #f0f4f7;
$font-white : #e0f2fb;
$font-gray : #a0a2a1;
/*---------------------------*/
body {
  background-color: $main-backgroud;
  /*max-width: 720px;
  margin: 0 auto;*/
}

header {
  display: flex;
  align-items: center;
  height: 3rem;
  color: $font-white;
  background-color: $mainblue;
}

.main {
  padding-top: 1rem;
  background-color: $main-backgroud;
}

.img-back {
  width: 1rem;
  margin: 1rem;
}

.img-login {
  width: 1.5rem;
  margin: 0.8rem 1.5rem;

}

.login {
  display: flex;
  align-items: center;
  margin: 1rem 0;
  background-color: white;
}

.login-btn {
   button {
     width: 100%;
     border-radius: 15px;
     background-color: $mainblue;
     color: $font-white;
     font-size: 1.5rem;
     padding: 0.5rem 0;
   }
}

.between {
  display: flex;
  justify-content: space-between;
  a {
    text-decoration: none;
    font-size: 13px;
    margin: 0.5rem;
    color: $font-gray;
    &:hover {
      text-decoration: none ;
    }
  }
}

.another {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: $font-gray;
  height: 8rem;
  font-weight: 300;
  .row {
    height: 1px;
    width: 5rem;
    border-top: 1px solid #a0a2a1;
    position: relative;
    bottom: 7px;
    margin: 0 5px;
  }
}

.three {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  .another-login {
    width: 3rem;
    margin: 0 1rem;
    span {
      font-size: 12px;
    }
  }
}































