@charset "utf-8";

body,p,div ,input,form,img,span，h2,footer,button,header{
	margin:0;
	padding:0;
}
html {
	font-size: 62.5%;
	background-color: white;
}

body {
	overflow-y: scroll;
}

header {
	background-color: #5fc0cd;
	width: 100%;
	height: 3rem;
	text-align: center;
}


header .back {
	background-color: red;
	position: absolute;
	width: 1rem;
	height: 1rem;
	margin-top: 1rem;
	margin-left: 0.6rem;

}

header .back img {
	width: 100%;
	height: 100%;
}

header .per {
	margin: 0 auto;
	color: white;
}

header .per span {

	line-height: 3rem;
	height: 3rem;
	font-size: 2rem;
}

.back img:hover {
	cursor: pointer;
}

.per span:hover {
	cursor: pointer;
}

.main {
	width: 100%;	
}

.info {
	position: relative;
	height: 10rem;
	background-color: #cacacb;
}

.info .head {
	width: 6rem;
	position: absolute;
	left: 1.5rem;
	top: 2rem;

}

.info .head img {
	width: 100%;
	border-radius: 50%;
}

.info .name-age {
	position: absolute;
	left: 8.5rem;
	top: 3.5rem;
}

.info .from {
	position: absolute;
	left: 8.5rem;
	top: 5.5rem;
}

.info .from div {
	width: 1rem;
	float: left;
	margin-right: 0.2rem;
}

.info .from img {
	width: 100%;
}


.skill .title {	
	border-bottom: solid 1px #e1e5e7;
}

.skill h2 {
	border-left: solid 2px #5fc0cd;
	margin-left: 0.5rem;
	padding-left: 0.5rem;
}

.skill .allow {
	display: flex;
	margin-top: 0.5rem;
}

.skill .allow .star {
	width: 1rem;
	float: left;
	padding-left:.5rem;
}

.skill .allow .star img {
	width: 100%;
}

#detail {
	margin-left: 1rem;
}

.experience {
	display: flex;
	margin-top: 1rem;
	align-items: center;
	padding-bottom: 0.5rem;
	border-bottom: solid 1px #e1e5e7;
}

.experience .l {
	display: block;
	
	min-width: 5rem;
	border-right: solid 1px #e1e5e7;	
}

.experience .r {
	padding-right: 1.5rem;
	padding-left:.5rem;
}

.bb {
	width: 100%;
	height: 4rem;
	position: fixed;
	bottom: 4%;
	z-index: 888;
	background-color: white;
}

.aa {
	z-index: ;
	width: 100%;
	height: 6rem;
}

footer button {
	border: solid .1rem #5fc0cd;
	width: 40%;
	height: 3rem;
	margin: 0 1rem;
	border-radius: .7rem;
	background-color: white;
	letter-spacing: 0.2rem;	
	z-index: 999;
}

footer .message {
	position: fixed;
	bottom: 4%;
	left: 2%;
}

footer .phone {
	position: fixed;
	bottom: 4%;
	right: 2%;
}

button:focus {
	outline: none;
}
button:hover {
	cursor: pointer;
	background-color: #5fc0cd;
}





