@charset "utf-8";

*,.container {
	margin: 0px;
	padding: 0px;
}

html {
	overflow:hidden;
}
img {
	width: 100%;
}

button {
	border:none;
	background-color: white;
}

button:focus {
	outline:none;	
}

html {
	overflow: auto;
}

@media screen and (max-width: 480px) {
  html {
    font-size: 50%;

  }
}

.container {
	margin: 0 auto;
	width: 100%;
	max-width: 720px;
	min-width: 320px;
}

.head {
	position: fixed;
	top: 0;
	width: 100%;
	max-width: 720px;
	min-width: 320px;
	background-color: #5fc0cd;
	height: 5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 999;	

}

.head button {
	background-color: #55a8b3;
	height:80%;
	width: 8rem;
	letter-spacing: 1px;
	border-radius: 10px;
	color: white;
	font-weight: 300;
}

.head .l {
	width: 2rem;
	height: 100%;
	position:absolute;
	right: 2rem;
	display: flex;
	align-items: center;
	cursor: pointer;
}

.head button:focus {
	background-color: white;
	color: #5fc0cd;
}

.select {
	margin-top: 5rem;
	display: flex;
	justify-content: space-around;
	border-bottom:  solid .1rem #e1e5e7;
}

.dropdown {
	font-size: 1.5rem;
	width: 33.33%;
	height: 5rem;
	color: #999999;
}	

.btn {
	font-size: 2rem;
	width: 100%;
	height: 5rem;
	color: #999999;
}

.dropdown-menu {
	min-width: 120px;
}

.select .caret{
	position: relative;
	left:2rem; 

}

.select button {
	border-left: solid .1rem #e1e5e7;
	border-right: solid .1rem #e1e5e7;
}

.detail{
	position: relative;
	margin:1% 2%;
	border-bottom: solid .1rem #e1e5e7;
}


.detail .detail-rol {
	margin:3% 0;
}

.detail .detail-rol .detail-img {
	width: 2rem;
	height: 2rem;
	float: left;
}
.detail .detail-rol .detail-text {
	color: #999999;
	height: 2rem;
	line-height: 2rem;
	font-size: 2rem;
	margin-left: 1rem;
}

#data-text {
	color: black;
}

.detail .price {
	position: absolute;
	right: 5%;
	top:4rem;
	color: red;
	font-size: 2rem;
}

.detail .price span {
	color: #5fc0cd;
	margin-left:1rem;
}


footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	max-width: 720px;
	min-width: 320px;
	text-align: center;
	background-color: #f8fafb;
	display: flex;
	align-items: center;
	justify-content: space-between;
	z-index: 999;
}

footer div {
	width: 10%;
	margin:0 2rem;
	color: #999999;
	cursor: pointer;
}

.left {
	float: left;
}


.right {
	float: right;
}

.right, .mid, .left {
	display: inline-block;
}

.price {
	cursor: pointer;
}

.space {
	height: 6rem;
}














