
@charset "utf-8";

@media screen and (max-width:340px) {
    html {
        font-size: 80%;
    }
/*}

@media screen and (min-width:440px) {
    html {
        font-size: 120%;
    }
}

@media screen and (min-width:535px) {
    html {
        font-size: 150%;
    }
}

@media screen and (min-width:667px) {
    html {
        font-size: 180%;
    }
}
*/
